<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <appSettings>
    <add key="Oidc.LoginPrompt" value="select_account" />
    <add key="Session.AbsoluteLifetimeMinutes" value="180" />
    <add key="Oidc.Authority"
         value="https://login.microsoftonline.com/tenantid/v2.0" />

    <add key="Oidc.ClientId"
         value="clientid" />
    
    <add key="Environment.Name"
         value="dev" />

    <add key="Oidc.RedirectUri"
         value="http://localhost:7890/callback/" />

    <add key="Oidc.Scope"
         value="openid profile offline_access api://Scope/access_as_user" />

    <add key="Oidc.AdditionalEndpointBaseAddresses"
         value="https://login.microsoftonline.com/tenantid;https://login.microsoftonline.com/common;https://graph.microsoft.com" />
  </appSettings>
  <!--<appSettings>

    <add key="Oidc.LoginPrompt"
         value="login" />

    <add key="Session.AbsoluteLifetimeMinutes"
         value="180" />

    <add key="Oidc.Authority"
         value="https://cognito-idp.us-east-1.amazonaws.com/us-east-1_URNLboZrH" />

    <add key="Oidc.ClientId"
         value="4d6p7qji8tpric2bc79jhq7ddu" />

    <add key="Oidc.RedirectUri"
         value="http://localhost:7890/callback/" />

    <add key="Oidc.Scope"
         value="openid profile https://api.multiple-idp-auth-lab/access" />

    <add key="Oidc.Resource"
         value="https://api.multiple-idp-auth-lab" />

    <add key="Oidc.AdditionalEndpointBaseAddresses"
         value="https://multiple-idp-auth-lab-anish.auth.us-east-1.amazoncognito.com" />
  </appSettings>-->
</configuration>
